In [1]:
import pandas as pd
import re

***src***

In [2]:
def basic_cleaning():
    #modificamos todas las letras a minúsculas
    df.applymap(lambda x: x.lower() if type(x) == str else x)
    #modificamos los espacios blancos en los titulos de las las columnas por añadimos _
    df.columns = [i.lower().replace(" ", "_") for i in df.columns]
    #eliminamos duplicados
    df.drop_duplicates()
    return df

In [3]:
def cleaning_df1():
    #renombramos la columna species yhacemos una copia
    df1.rename(columns={'species_': 'species'}, inplace=True)
    df1['species2']=df1['species'].copy()
    #eliminamos todas las filas de las columnas indicadas con Nans.
    df1.dropna(subset=['date', 'type', 'country', 'area', 'location', 'activity', 'sex_', 'species2'], how='all', inplace=True)
    #eliminamos las columnas indicadas del df1
    df1.drop(['case_number', 'date','year', 'unnamed:_23', 'unnamed:_22', 'case_number.2', 'case_number.1', 'href', 'href_formula', 'pdf', 'investigator_or_source', 'time'], axis=1, inplace=True)

    
    return df1

In [4]:
def cleaning_df2():

    #eliminamos las filas con valores Nan en species
    df2.dropna(subset=['species2'], inplace=True)
    #deletting anything that's not a letter
    df2['species2'].apply(lambda x: re.sub(r'\W+', ' ', x))
    #It searches for any numeric character (\d) followed by an optional character (.) and removes it
    df2['species2'].apply(lambda x: re.sub(r'\d.?', '', x, flags=re.IGNORECASE))
    
    
    return df2

In [20]:
def species_cleaning():
    species_values=['white', 'nurse', 'blacktip', 'tiger', 'wobbegong', 'bull', 'blacktip', 'hammerhead', 'Mako', 'lemon', 'blacktip or spinner shark', 'largeako', 'oceanic whitetip', 'bronze whaler', 'spinner', 'caribbean reef', 'blue pointer', 'blue shark', 'bull shark','brown shark','zambezi shark', 'unidentified' ]
    not_involved= ['Shark involvement prior to death unconfirmed', 'Shark involvement prior to death not confirmed', 'Shark involvement suspected but not confirmed', 'Invalid']
    
    #crear un diccionario con species_values
    
    
    #ELIMINAR LAS FILAS QUE EN TYPE PONGA INVALID
    df2.drop(df2[df2['type'] =='invalid'].index, inplace=True)
    
    for case in not_involved:
        df2.drop(df2[df2['species2'] == case].index, inplace=True)

    #modificamos las celdas donde aparece una especie
    for specie in species_values:
        df2.loc[(df2['species2'].str.contains(specie, case=False)), 'species2'] = specie
        
    #elimina las letras m y a si se encuentran fuera de palabras
    df2['species2'] = df2['species2'].str.replace(r'\s[m|a]\s', ' ', regex=True)
    df2['species2'] = df2['species2'].str.replace(r'^m|a\s', '', regex=True)
    df2['species2'] = df2['species2'].str.replace(r'\sm|as$', '', regex=True)
    
    #eliminamos las palabras con dos letras de toda la columna
    df2['species2'] = df2['species2'].apply(lambda x: ' '.join([word for word in x.split() if len(word) > 2]))
    
    
    return df2

***DATAFRAME***

In [6]:
df=pd.read_csv('data/attacks.csv', encoding='latin')

In [7]:
df= basic_cleaning()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             8702 non-null   object
 1   date                    6302 non-null   object
 2   year                    6300 non-null   float64
 3   type                    6298 non-null   object
 4   country                 6252 non-null   object
 5   area                    5847 non-null   object
 6   location                5762 non-null   object
 7   activity                5758 non-null   object
 8   name                    6092 non-null   object
 9   sex_                    5737 non-null   object
 10  age                     3471 non-null   object
 11  injury                  6274 non-null   object
 12  fatal_(y/n)             5763 non-null   object
 13  time                    2948 non-null   object
 14  species_                3464 non-null   object
 15  investigator_or_source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href_formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  case_number.1           6302 non-null   object
 20  case_number.2           6302 non-null   object
 21  original_order          6309 non-null   float64
 22  unnamed:_22             1 non-null      object
 23  unnamed:_23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [8]:
df.sample()

,case_number,date,year,type,country,area,location,activity,name,sex_,...,species_,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
13532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
 #realizamos una copia del df principal y creamos df1
df1= df.copy()

In [10]:
df1= cleaning_df1()

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6302 entries, 0 to 6301
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   type            6298 non-null   object
 1   country         6252 non-null   object
 2   area            5847 non-null   object
 3   location        5762 non-null   object
 4   activity        5758 non-null   object
 5   name            6092 non-null   object
 6   sex_            5737 non-null   object
 7   age             3471 non-null   object
 8   injury          6274 non-null   object
 9   fatal_(y/n)     5763 non-null   object
 10  species         3464 non-null   object
 11  original_order  6302 non-null   float64
 12  species2        3464 non-null   object
dtypes: float64(1), object(12)
memory usage: 689.3+ KB

In [12]:
df1.sample()

,type,country,area,location,activity,name,sex_,age,injury,fatal_(y/n),species,original_order,species2
5500,Invalid,AUSTRALIA,Victoria,Elwood,Bathing,Charles Blake,M,23,Thought to have been taken by a shark,NaN,Questionable,803.0,Questionable

In [13]:
#creamos una copia del dataframe: df2
df2=df1.copy()

In [14]:
df2=cleaning_df2()

In [15]:
df2.sample()

,type,country,area,location,activity,name,sex_,age,injury,fatal_(y/n),species,original_order,species2
525,Invalid,NaN,NaN,NaN,Sea disaster,Cuban refugees,M,NaN,Shark involvement prior to death not confirmed,NaN,Shark involvement not confirmed,5778.0,Shark involvement not confirmed

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3464 entries, 0 to 6296
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   type            3464 non-null   object
 1   country         3452 non-null   object
 2   area            3303 non-null   object
 3   location        3288 non-null   object
 4   activity        3235 non-null   object
 5   name            3367 non-null   object
 6   sex_            3145 non-null   object
 7   age             2193 non-null   object
 8   injury          3453 non-null   object
 9   fatal_(y/n)     2948 non-null   object
 10  species         3464 non-null   object
 11  original_order  3464 non-null   float64
 12  species2        3464 non-null   object
dtypes: float64(1), object(12)
memory usage: 378.9+ KB

In [21]:
df2=species_cleaning()

In [22]:
df2

,type,country,area,location,activity,name,sex_,age,injury,fatal_(y/n),species,original_order,species2
0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark,6303.0,white
3,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,2 m shark,6300.0,shark
4,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m",6299.0,tiger
6,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,FATAL,Y,Tiger shark,6297.0,tiger
7,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing,male,M,52,Minor injury to foot. PROVOKED INCIDENT,N,"Lemon shark, 3'",6296.0,lemon
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6276,Unprovoked,BELIZE,NaN,NaN,Standing,a servant,M,16,FATAL,Y,12' tiger shark,27.0,tiger
6293,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,boy,M,NaN,"FATAL, knocked overboard by tail of shark & ca...",Y,Blue pointer,10.0,blue pointer
6294,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,NaN,FATAL,Y,Blue pointer,9.0,blue pointer
6295,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,NaN,FATAL,Y,Blue pointers,8.0,blue pointer
6296,Unprovoked,AUSTRALIA,New South Wales,,Swimming,Arab boy,M,NaN,FATAL,Y,Said to involve a grey nurse shark that leapt ...,7.0,nurse

In [23]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3277 entries, 0 to 6296
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   type            3277 non-null   object
 1   country         3266 non-null   object
 2   area            3138 non-null   object
 3   location        3121 non-null   object
 4   activity        3095 non-null   object
 5   name            3205 non-null   object
 6   sex_            2987 non-null   object
 7   age             2133 non-null   object
 8   injury          3267 non-null   object
 9   fatal_(y/n)     2946 non-null   object
 10  species         3277 non-null   object
 11  original_order  3277 non-null   float64
 12  species2        3277 non-null   object
dtypes: float64(1), object(12)
memory usage: 358.4+ KB

In [24]:
Species_unique2= []
for i in df2['species2'].unique():
    Species_unique2.append(i)
print(Species_unique2)

['white', 'shark', 'tiger', 'lemon', 'bull', 'Grey reef shark', 'Invalid incident', 'nurse', 'Shark involvement not confirmed', 'Questionable', 'wobbegong', '3.5 shark', '1.8 shark', 'blacktip', 'Injury believed caused eel, not shark', 'Galapagos shark?', 'Grey reef shark.', 'small shark', 'blue shark', 'Cookiecutter shark', 'spinner', 'Deathay have been due drowning', 'Porbeagle, 1.5', 'Shark involvement questionable', 'small shark"', 'shark invovlement', 'Seven-gill shark', 'shark, probably smooth hound', 'Shark involvement highly doubtful', 'shark invovlement publicity stunt', "10' shark", 'caribbean reef', 'Broadnose sevengill shark, 1.5', 'reef shark,', 'Angel shark', 'dogfish shark', 'Said involve shark butore likely damage caused debris', 'Mako', 'bronze whaler', 'Grey reef shark,', 'shark involvement', 'Reef shark,', "Silky shark, 6.5'", 'Galapagos shark', 'hammerhead', 'juvenile shark', 'shark?', 'Thought involve shark, but shark involvement not confirmed', 'Shark involvement not cofirmed', '1.2 shark', '4-foot shark', '1.5 shark', 'Raggedtooth shark, 1.3', 'Shark involvement prior death still determined', 'Shark involvement not confirmed highly unlikely', 'Goblin shark', "12' 14' shark", 'reef shark', '1.8etre shark', 'Sandbar shark,', 'Cow shark', 'reef shark?', 'Raggedtooth shark,', '7-gill shark?', '7-gill shark', 'Salmon shark', 'shark involvement not confirmed', 'Raggedtooth shark, 1.5', '"small sharks"', '2.5 shark', "3.5' shark", 'Porbeagle shark,', '4.5 shark', 'Salmon shark suspected, but unlikely', "14' 18'shark", "15' shark", 'small reef shark', '18" 24" shark', 'Raggedtooth shark', 'Port Jackson shark,', "10' 12' shark", 'Sevengill shark,', 'Zambesi shark', 'reef shark, 1.5m', 'Shark involvement prior death was not confirmed', '30kg shark', "14' shark", 'Zambesi shark,', 'Thresher shark', 'Spurdog', 'Thought involve Bronze whale shark,', 'Shark involvement probable, but not confirmed', 'Thought involve cookie cutter shark', '2.6 shark', 'Dusky shark,', 'Broadnose sevengill shark', 'Zambesi shark?', 'reef shark, 1.8m', "+3' shark", 'Starry smoothhound shark,', 'Basking shark', 'Reported byedias shark attack, but shark involvement prior death was not confirmed', 'Shark involvement not confirmed; thought barracudbite', "1.5' shark", "2.5' shark", "Goblin shark, 4.2'", '"small shark"', 'Not shark attack; was hoax', '2.27 shark', 'Gray reef shark', "9.5' shark?", 'Sand shark', '', 'small spotted catshark, Scyliorhinus canicula', 'Questionable Incident', 'Lesser spotted dogfish, Scyliorhinus canicula, less than length', '2.4 shark', '24" 30" shark', 'Raggedtooth shark, 150-kg', 'small catsharks', 'Angel shark, 1.2m', 'Shark involvement not confirmed, injuryay have been caused bluefish', 'Raggedtooth shark, 2.5', '600-kg shark', "12' 18' shark", "12' shark", 'Said involve 1.5 shark', 'Raggedtooth shark, 2.5m', "[6.75'] shark, 200-kg shark", "1.8 [6'] shark", "3.5 [11.5']shark", "[4.5' 5'] shark", "[4' 5']", '8/13/2005 anglers from New Zealand caught 2.8 [9\'3"], 140-kg [309-lb] shark the same spot. was believed this was the same shark that killed Alysha', 'Unknown, but was reported that shark tooth was recovered from the wound', '18" 36" shark', "[6.75'] copper shark", "[13'] shark", "[10'] shark", "Raggedtooth shark, 1.5 [5' 6.75']", "2.4 [8'] shark", "1.2 [4'] shark", "1.2 1.5 [4' 5'] shark", 'sharks, 4.5', '"black tipped" shark', "0.9 1.5 [3' 5'] shark", "2.4 3.7 [8' 12'] shark", 'small sharks', "[6.75'] sevengill shark", 'brown shark', 'Shark involvement doubtful', "Raggedtooth shark, 3.5 [11.5']", '1.2 [4\'] "grey-colored shark"', 'cow shark', 'unidentified', "1.5 1.8 [5' 6'] shark", "106 [3.5'] shark", "3.7 4.3 [12' 14'] shark", '"sand shark"', "1.8 [6'] reef shark 2.1 2.4 [7' 8'] grey-colored shark", "0.9 1.2 [3' 4'] shark", '\x93small\x94 shark', '[6" 8"] bite diameter just below left knee', "[2'] captive shark", 'Shark involvement not confirmed, injuryay due stingray', "2.4 [8' 10'] grey colored shark", "3.5' 4.5' shark", "3.7 [10' 12'] shark", "0.9 1.2 [3' 4'] shark; Tooth fragment recovered from hand", "1.5 2.5 [5' 8.25'] copper shark", "2.1 2.4 [7' 8'] shark", "0.9 [3'] shark", 'Shark involvement prior death unconfired', '1.5 [5\'] "whaler shark"', 'leucas tooth fragment recovered from kayak', 'Questionable incident shark biteay have precipitated drowning', "1.5 [5'] shark", "1.2 1.5 [4.5' 5'] shark", "[6.75'] shark", '1.8 2.4 [6\' 8\'] "black finned shark"', "[20'] shark", "Porbeagle shark, [10']rk", "1.2 1.8 [4' 6'] shark", "[2' 3'] shark", 'Thought involve Zambesi shark', 'shark was seen the areby witnesses', "1.8 [6'] grey-colored shark", "Grey reef shark, [6.75']", "2.5 [6.75' 8.25'] shark", 'Sevengill shark', '1.3 1.6 shark', "Grey reef shark, 1.2 [4']", 'Grey reef shark, 1.5', "Sevengill shark, 2.4 [8']", '200 300 shark', "3.7 4.6 [12' 15'] shark seen the vicinity", "Dusky shark, 12'", "4.5' shark", "Raggedtooth shark, 1.2 [4']", '1.7 shark', 'Small dusky shark blackfin shark', 'Shark involvement prior death suspected but not confirmed', 'Soupfin shark', '"juvenile shark"', 'Possibly sand shark', "1.8 2.1 [6' 7'] shark", '"young shark"', '"reef shark"', '"sand" shark', "Two 1.2 1.5 [4' 5'] sharks", "3.7 [12'] shark", 'Leopard shark', "Raggedtooth shark, 2.7 [9']", "2.7 [9'] shark", 'Thought involve small sand shark', 'Small shark', "2.1 [7'] shark", ">1.8 [6'] shark", '1.3 [4\'3"] shark', "1.8 2.4 [6' 8'] shark, tooth fragments recovered", 'Questionable incident', "[16.5'] shark", '1.8 grey shark', "Zambesi shark, 1.7 [5.5']", "[10'], 270- [595-lb] shark", 'sand shark', "2.1 [7'], 140-lb reef shark", '170-kg, 2.8 shark', 'female shark', '"Shark had very large girth"', "1.8 2.4 [6' 8'] shark", 'Shark involvement prior death could not determined', "Two sharks seen vicinity: 2.4 4.25 [8' 14']", '150-lb shark', 'Sandbar shark', "[10'] gaffed shark", 'silvertip shark', 'Sand shark?', "1.5 [5' 6.75'] shark", '"grey-colored" shark', 'zambezi shark', '1.5 copper shark', 'sharks attacked survivors the water', '4.3 shark', 'Doubtful Unconfirmed attack Unable verify local records', "Raggedtooth shark, 2.5 [8.25']", 'Raggedtooth shark, 1.96, 140-kg', '1.6 shark', "1.2 [4'] dusky shark", "Raggedtooth shark, [6.75']", "2.5 [6.75' 8.25'] sixgill sevengill shark", "6', 100-lb shark", '1.8 silky shark', '30-kg [66-lb] shark', "1.5 [5'] dusky shark", 'Shark involvement not confirmed; officials considered barracua', "2.5 [8.25'] shark", 'Raggedtooth shark, 56-kg [123-lb]', "[10' 13'] shark", "Raggedtooth shark, 1.5 [5'] (tooth fragment recovered)", 'Questionable incident; reported shark attack but thought involve pinniped instead', 'Reported shark attack, the story was hoax', '1.2 1.5 [4\' 5\'] "reef shark"', '2.1 [7\'] shark with "very flat head\x94 that had followed the boat for days', "1.8 [6'] shark, species identity questionable", 'Shark involvement prior death remains unconfirmed', '"sandshark"', '"gray shark"', "13', 400-lb thresher shark", 'C.aculpinnis limbatus', "3.5 [11.5'] shark", '2.2 shark', '[6\'9"] Zambesi shark', 'Raggedtooth shark, [6\'9"]', "1.8 [6'] dogfish", "Raggedtooth shark, 50-kg [110-lb], [6.75'] gaffed", '[6\'9"] shark', 'Sevengill shark, 2.4', '270 shark', 'Whale shark', 'Juvenile dusky shark', 'Shark involvement unconfirmed', "2.4 [8'] whaler shark", "Carpet shark, 10'", 'Copper shark, 50-kg [110-b]', "small sharks'", "3.7 [12'] sharks", "Raggedtooth shark, 1.5 [5']", "1.2 1.8 [4' 6'] shark observed area", '1.5 grey reef shark', "1.8 [6'] grey reef shark", '3.6 porbeagle shark', '1.8 albimarginatus', '"Dog shark"', "7.5' shark", 'Raggedtooth shark, [6\'9"], 5-year-old, captive female', 'Carpet shark', ">2.4 [8'] shark", 'Considered "Doubtful" incident', '90-kg "blackfin" shark', 'Not authenticated', "2.7 [9'] silky shark", '"Blue whaler" (Galeolamna)', "1.5 1.8m [5' 6'] shark", "1.5 1.8 [5' 6'] sandbar shark", 'pack sharks', "1.5 2.1 [5' 7'] shark", "Local authorities speculated that the water was too cold for sharks, but 2.1 [7'], 200-lb pregnant sandbar shark was caught next day", 'Copper shark', "1.5 1.8 [5' 6'] Zambesi shark", "[2.5'] carpet shark", '1.8 [6\' 6\'9"] shark', "1.8 [6'] carpet shark", "4.6 [15'] shark", "1.8 [6'], 180-lb shark", 'sharks involved', '300-kg [662-lb] shark', "1.8 [6'], 136-kg [300-lb] shark", "4.9 [16'] whaler", "Less than 1.2 [4']", "1.7 [5.5'] shark", "Zambesi shark, 1.8 [6']", "4.3 [14'], 1000-lb shark", '300- 400-lb Zambesi shark', 'Possibly broadnose 7-gill shark', "Silky shark, 1.9 [6.5']", 'Dooley believed his Injury was caused stingray (Dasyatidae family)', '500-lb shark', "5.5 [18'] shark", 'sharks', 'Hand found gut 2.9 3.3 [9\'7" 10\'11"] Galapagos shark, galapagensis', "3.7 4.5 [12' 15'] shark seen vicinity", '193-lb shark', '<1.5 shark', 'Zambesi shark, [6\'9"]', '[6\'9"], 87.5-kg [193-lb] shark', "[10'] blue whaler", 'long thin brown-colored shark"', "Horn shar,k Heterodontus francisci, 1.2 [4']", "4.3 [14'] shark", 'Unknown', "2.7 [9' 10'] sharks", "Sevengill shark, 1.2 [4']", "Zambesi shark, 1.2 [4']", "4.9 [16']shark", 'Said involve 4.9 [16\'] "red shark"', '36" shark', "Nextorning [10'] shark was caught that had Andrews' leg its gut", "Two shark's teeth recovered from canoe", '43" shark', "2.7 [9']shark", '"yellow belly" captive shark. Shark destroyed aquarium staff next day', '"gummy" shark (Rhizoprionodon Loxodon) 1.2 [4\']', "Grey reef shark, 1.8 [6'] grey reef shark, identified Dr. L.P. Schultz based photographs; identified C.elanopterus Stewart", 'Zambesi shark, 4\'9"', '"banjo shark"', "2.1 [7'], 90-kg shark", "Six Zambesi sharks seen 1.5 [5'] length", "2.4 [8'], 600-lb shark", '80-lb hooked shark', "Dusky shark, 2.7 [9'] dusky shark obscurus identified Springer tooth recovered", 'Raggedtooth shark, 100-lb', "1.2 [4'], possibly larger shark", "Two 2.1 [7'] sharks", 'According Benjamin, the injury was inflicted barracuda, not shark', 'Shark involvement prior deaths was not confirmed', '3.5 [11\'6"] shark captured', 'blue pointer', "4.9 [16'] shark", "3.7 4.6 [12' 15'] shark", 'Blacktail reef shark', "4.3 [10' 14'] shark", "Thresher shark, 3.7 [12']", "Carpet shark, 1.5 [5']", "5.5' shark", "Bitten several 1.8 [6'] sharks", "Said involve sharks: 5.2 [17' 20']", "1.4 [4.5'] shark", "1.5 1.8 [5' 6'] sharks", '200-lb shark', "Sharks averaged 1.8 [6'] length", 'Several sharks involved', 'Shark seen feeding turtle scraps thrown overboard prior incident.', "2.3 [7'] shark", '8-lb shark', "3.7 [12'] shark &ay have been another shark nearby", '40-lb sand shark', 'Tooth fragments recovered from hull', "0.7 [2.5'] sand shark", '"small brown-colored shark"', 'Leopard shark, Triakis semifasciata, identified J.W. DeWitt (1955)', '"little shark"', "20' shark", "2.4 [8'] shark, possibly dusky shark", "small shark'", "Said involve [13'] shark", '80-lb sand shark', "[10'] shark seen vicinity", ">6.7 [22'] shark", 'Carpet shark,', '"Attacked number sharks"', '136-kg [300-lb] shark', '1,100-lb shark', "0.7 [2.5'] shark", '2.13 shark', "1.5 1.8 [5' 6'] \x93spear-eye\x94 shark", 'small carpet shark', 'Whtietip reef shark', "2.7 [9'] shark with black-tipped pectoral fins", 'Bonitsharkk, 200-lb', "Whaler shark, 2.7 [9'], 350- 450-lb identified G.P. Whitley", '3.3 [10\'9"] shark', "Said 6.4 [21'] shark", '"grey shark"', 'Possibly leuc', 'Most likely, small shark', '1.5, 45-kg shark', '4.5 [14\'9"] shark', '>1.6 shark', 'Porbeagle shark', "Said involve 6.5 [21.5'] shark", '100-lb shark', 'Questionable incident, said involve shark', "2.6 [8.5'] shark landed hours later", 'whaler shark', "18' shark", '"large shark"', '"grey-colored shark"', "2.6 [8.5'] shark", "Whaler shark, [13']", 'days later 600-lb shark was caught 100 yards from the site', '"blue nosed" shark', "Shovelnose shark, [20']", '650-lb shark', '"Blue nose shark"', '6.5\' "blue-nosed shark"', "4.3 [14'] shark seen vicinity", "[13'] shark seen vicinity", "4.3 [14'] shark seen areprevious week", "4.4 [14'] shark", "16' 800-lb shark", '250-lb "dog shark"', "Raggedtooth shark, 1.2 1.5 [4' 5']", '"school sharks"', '1.8 [6\'] "cocktail shark', "shark's teeth found embedded the woodwork the boat", '9-foot shark', '"dog shark"', '"Blue nose sharks"', 'Moreno\x92s leg part his swim suit found shark caught two hours after the attack. Identified carcharhinid shark Schultz Limbaugh photograph', '"whiptail shark" (thresher shark?)', 'Questionable, shark suspected', "According Carlsmith, the shark'south was wide", 'Said \x93small shark\x94', '"very large shark"', "Atkins' remains were recovered from dusky shark, obscurus, Capt. Young, shark fisherman", '2.7 [9\'] "blue" shark', 'pack sharks"', "2.7 [9'] shark later captured Mitchell-Hedges", "Comrades saw shark's tail appear about away", '15* 24" dog shark', "15'", "3.7 [12'], 1200-lb shark. Shark caught its jaw exhibited the Carnegie Museum", "13' shark", "Said involve 2.7 [9'] shark", '20\' shark known "Old Tom"', '2.8 [9\'3"] whaler shark captured days later with his remains its gut', 'C.acrurus captured hours after attack with tissue removed froman its gut; species identified G.P. Whitley, reported obscurus Steel', '18-foot shark', 'Remains recovered from sharks', 'Allegedly 33-foot shark', 'Shark involvement probable', 'Remains recovered days later', 'Fishermen recovered partial remains from shark week later', "1.8 2.7 [6' 9'] shark", '13\'10" shark', 'Shovelnose shark,', "16' shark", '5\'7" shark', "Sevengill shark, 14', was caught the vicinity", '5m, 3500 female shark', 'Unknown, but the shark was caught and put exhibition', "4.7 [15.5'] shark", 'Shark was said \x93have very rough ½\x94-thick skin\x94', "[10'] sharks", 'Said involve sharks', 'school sharks', 'Blue porbeagle shark', '68" shark', 'Identified gangeticus Dr. Fayrer', '"Shark caught later"', '"ground shark"', 'Remains recovered from shark caught days later', 'Shark involvement prior deaths unconfirmed', '234-lb shark', "Said involve 7.3 [20' 24'] shark", "Said 7.6 [25'] shark", 'Description shark does not ring true', '"The fish was harpooned, dried, and presented the sailor, who went round Europe exhibiting was said feet long.', 'Galapagos shark,', 'Silvertip shark', 'Shovelnose guitarfish, adultale', '"black-tipped shark"']

In [25]:
(len(Species_unique2))

503